

.button-container
{
    text-align: center;
    margin-top: 5px;
}

.no-border {
    background-color: #ffffff; /* Cor do fundo do botão */
    color: rgb(0, 0, 0); /* Cor do texto */
    padding: 15px 32px;
    font-size: 16px;
    cursor: pointer;
    border: none; /* Sem borda */
    border-radius: 8px; /* Borda arredondada */
    transition: background-color 0.3s ease;
}

.no-border:hover {
    background-color: #0000001f; /* Cor do fundo no hover */
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    color: #ccc;
    font-size:srem;
}

.parallax
{
    background-image:url(img1.jpg);
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2
{
    background-image:url(img2.jpg);
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo img 
{
    width: 10%;
    margin-top: -40px;
}

body-2 {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}
h2 {
    text-align: center;
    color: #333;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    font-size: 14px;
    color: #333;
}
.form-group input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}
.form-group input:focus {
    border-color: #5b9bd5;
    outline: none;
}
.btn-submit {
    width: 100%;
    padding: 10px;
    background-color: #299599;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.btn-submit:hover {
    background-color: #1cced4;
}
.form-footer {
    text-align: center;
    margin-top: 15px;
}
.form-footer a {
    text-decoration: none;
    color: #1cced4;
}

.kr8s
{
    text-align: right;
    margin-top: -600px;
    margin-right: 50px;
}

