
body {
    background-color: rgb(36, 35, 41); /* Cor de fundo */
}

.titulo h1
{
margin-top: 5%;
}

.titulo {
    color: white; /* Cor laranja para o título h1 */
    font-family: "Audiowide", sans-serif;
    font-size: 30px;
    margin-top: 10px;
}

.coachings
{
    color: #00f7ff;
   font-family: "Audiowide", sans-serif;
   font-size: 30px;
}

.descrição
{
    color: white; 
    font-family: Arial, Helvetica, sans-serif;
}

.register-now 
{
    color: white;
    display: flex;
}

.register-now a 
{ 
    background-color: #00d9ff; /* Cor de fundo ao passar o mouse */
    font-weight:bold;
    color: #ffffff;
    margin-left: 20px;
    margin-top: ;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
}