<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="static/icone.png"> 
    <link rel="stylesheet" href="static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tonikroos-academy.com</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
</head>
<body>
    <div class="div-geral">   

        <div class="tela-esquerda"> 
            
            <div  class="logo-kroos">
                <img src= "static/logo-kroos.png">
            </div>
            
            <div class="titulo">
                <h1> toni kroos <br> academy </h1>
            </div>
            
            <div class=" coachings">
                <h1> coachings </h1>
            </div>
            
            <div class="descrição">
                <p> experimente nossos acampamentos de verão e <br> dias de treinamento e aguarde seus sucessos de aprendizado </p>
            </div>
            
            <div class="register-now">
                <a href="/registro"> register-now</a>
            </div>
            <div class ="img-de-fundo">
                <img src="static/img-de-fundo.png">
            </div>
</div>

<div class="tela-direita">  
<video loop muted autoplay >
    <source src="static/Header - Startseite.mp4" type="video/mp4">
    Seu navegador não suporta o elemento de vídeo.
</video>

</div>
</div>






</body>
</html>